---
import { supabase } from "../../../../lib/supabase";
import { authenticate } from "../../../../lib/auth";
import Layout from "../../../../layouts/Layout.astro";
import BitacoraCalculator from "../../../../components/qr/BitacoraCalculator.astro";
import CalculatorLogs from "../../../../components/qr/CalculatorLogs.astro";
import ActionCalculator from "../../../../components/qr/ActionCalculator.astro";

// Autenticación del usuario
const { user, redirect } = await authenticate(Astro);
if (redirect) {
    return Astro.redirect(redirect);
}

// Obtener parámetros de la URL
const { qr, id } = Astro.params;


// Consulta a Supabase
const { data: strain } = await supabase
    .from("strains")
    .select("*")
    .eq("qr_id", qr)
    .eq("id", id);


---

<Layout title="QR">
    <main class="p-2">
        <h1>QR {id}</h1>
        <p class="mb-4 text-gray-600 text-sm">QR: {qr}</p>

        <BitacoraCalculator qr={qr} id={id} strain={strain} />
        <ActionCalculator qr={qr} id={id} strain={strain} />
        <CalculatorLogs qr={qr} id={id} strain={strain} />
    </main>
</Layout>